body{
	font-family: Roboto ;
	font-weight: lighter;
}
.nopadding {
	padding:0px;
}
.noborderradius{
	border-radius: 0px;
}
.nomargin{
	margin:0px;
}

.normalbox{
	border:1px solid #eee;
	border-radius: 1px;
}

.leftnavbox{
	min-height: 250px;
	width: 260px;
}
a{
	color:black;
}
.affix {
      top: 0;
      -webkit-transition: all 2s ease-in;
    	transition: all 1s ease-in;
}
.header{
	height:100px;
}
.normalpadding{
	padding: 5px;
}